.home-page {
  overflow: hidden;
  min-height: 100vh;
  padding: 10px;
  .content-container {
    font-size: 1.5rem;
    background: url("../assets/img/background.jpeg");
    background-position: center center;
    background-size: cover;
    min-height: calc(100vh - 63px);
    padding: 20px;
    display: flex;
    align-items: center;

    span {
      color: $danger;
    }
    p {
      color: $black;
    }
    button {
      background: $primary;
    }
  }
}

// Styling for desktop screens and tablets (landscape orientation)

@media (min-width: 768px) {
  .home-page {
    .content-container {
        button {
          width: 150px;
          right: 0px;
          margin-top: 50px;
          margin-right: 350px;
          border-radius: 30px;
          padding: 20px;
        }
    }
  }
}
