.nav {
width: 100%;
    float: right;
    padding: 0;
    list-style: none;
    padding: 0px 35px 0px 0px;
    margin: 0px 30px 0px 0px;
    
}
#skin {
    font-family: Source Sans Pro;
    padding: 0px 0px 0px 70px;
    margin: 0px 0px 0px 20px; 
}
.nav li {
    float: right;
    text-align:right; 
    padding: 0px 0px 0px 5px;
    margin: 0px 0px 0px 5px;
}
.nav li a {
    display: block;
    padding: 0px 0px 0px 5px;
    margin: 0px 0px 0px 5px;
    text-decoration: none;
    text-align: right;
    float: right;
} 
.style {
    font-family: Kaushan Script;
}
.polygon {
    position: absolute;
    width: 390px;
    height: 517px;
    left: 860px;
    top: 80px;
    background: rgb(96, 118, 192);
    border-radius: 20px;
    transform: rotate(-90deg);
}

.out {
    padding: 50px;
    font-style: normal;
    font-weight: normal;
    font-family: Kaushan Script;
    font-size: 60px;
    line-height: 116px;
    color: #1A348D; 
}

.text {
    position: absolute;
    width: 624px;
    height: 100px;
    left: 57px;
    top: 508px;
    font-family: Pacifico;
    font-style: normal;
    font-weight: normal;
    font-size: 38px;
    line-height: 146.28%;
    color: #1A348D;
}
.button {
    position: absolute;
    width: 242px;
    height: 86px;
    left: 823px;
    top: 613px;
    background: #1A348D;
    border-radius: 30px;
}

.practice {
    color: red;
}
.mynav {
    position: sticky;
    top: 0;
    background-color: #1A348D;
}