@import "variables.scss";
@import "Login.scss";

p {
  color: $primaryColor
}

body {
    font-family: 'Montserrat', sans-serif, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Poppins", sans-serif,  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold
  }