// utils
@import "variables.scss";
@import "fonts.scss";

// layouts
@import "nav.scss";
@import "sidebar.scss";
@import "app-layout.scss";

// pages
@import "landing.scss";
@import "exam-history.scss";
@import "course.scss";

p {
  color: $primary;
}

h1 {
  color: $primary;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}
