
.icon-eye:before { content: '\e800'; } /* '' */
.icon-lock:before { content: '\e801'; } /* '' */
.icon-user:before { content: '\e802'; } /* '' */
.icon-mail:before { content: '\e803'; } /* '' */
.icon-user-add:before { content: '\e804'; } /* '' */
.icon-download:before { content: '\e805'; } /* '' */
.icon-key:before { content: '\e806'; } /* '' */